/******************************************
*******************************************
******************General******************
*******************************************
******************************************/

.log{
    height: 85px;
    margin-top: -28px;
}


.infos{
    float: right;
    text-align: right;
    position: relative;
    width: auto;
    background-color: #1E2421;
    border-bottom-left-radius: 5px;
    padding: 4px;
    color: #228B22;
    font-size: 14px;
    font-family: Arial;
    margin-top: -15px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    margin:0;
}

h1{
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

h3{
    font-family: fantasy;
}

hr{
    color: #1E2421;
    height: 1px;
    background-color: #1E2421;
    border: 0;
}

table{
    border-collapse: separate;
    border-spacing: 8px 11px; 
}

.btn-success{
    font-family:Arial;
    font-weight: bold;
    font-size:16px;
    background-color: #55C555;
    background-image: -moz-linear-gradient(top, #228B22, #55C555);
    background-image: -ms-linear-gradient(top, #228B22, #55C555);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#228B22), to(#55C555));
    background-image: -webkit-linear-gradient(top, #228B22, #55C555);
    background-image: -o-linear-gradient(top, #228B22, #55C555);
    background-image: linear-gradient(top, #228B22, #55C555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#228B22', endColorstr='#55C555', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled]{
    background-color: #55C555;
}

.btn-success:active, .btn-success.active {
    background-color: #55C555;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


input[type="text"], input[type="number"], input[type="password"]{
    display: inline-block;
    text-align: left;
    position: relative;
    width: 250px;
    background-color: #228B22;
    border-radius: 5px;
    padding: 4px;
    color: white;
    font-size: 14px;
    font-family: Arial;
}

/******************************************
*******************************************
*******************Menu********************
*******************************************
******************************************/

.jumbotron{
    margin-top: 15px;
}



.Bouton, .deco {
    border-radius: 5px;
    background-color: #1E2421;
    border:1px solid #241d13;
    display:inline-block;
    color: #228B22;
    font-family:Arial;
    font-weight: bold;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
}

.deco{
    padding:0px;
}

.deco:hover {
    color:#267356;
    text-decoration:none;
}

.Bouton:hover{
    background-color: #323C38;
    color:#267356;
    text-decoration:none;
}
.Bouton:active, .deco:active  {
    position:relative;
    top:1px;
}

.zf-green {
    color: #228B22;

}

.navbar{
    background: #228B22;
    border-color: transparent;
    height: 70px;
    font-size: 18px;
    font-family: fantasy;
    box-shadow: 0px 2px 8px #1c1a00;
}

.navbar-inverse .navbar-nav>li>a{
    color: #228B22;
    background-color: #1E2421;
    border-radius: 5px;
    margin-left: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #228B22;
    background-color: #323C38;
    border-radius: 5px;
    margin-left: 15px;
}

.navbar-inverse .navbar-brand{
    color: #1E2421;
    margin-right: 20px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color: #228B22;
    text-shadow: #1E2421 1px 1px, #1E2421 -1px 1px, #1E2421 -1px -1px, #1E2421 1px -1px;
}

.container{
    margin-top: 15px;
    color: #1E2421;
}

/******************************************
*******************************************
******************Chambre******************
*******************************************
******************************************/

.prix{
    display: inline-block;
    text-align: center;
    height: 35px;
    position: relative;
    background-color: #ff0000;
    box-shadow: 0px 2px 5px #1c1a00;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    float: right;
    font-size: 13px;
    font-family: Arial;
}


.Chambre{
    font-size: 18px;
    color: #1E2421;
    font-family: Arial;
}

.asideChambre
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    width: 48%;
    height: 50%;
    background-color: #E8E8E8;
    box-shadow: 0px 2px 5px #1c1a00;
    border-radius: 5px;
    padding: 10px;
    color: #1E2421;
    font-size: 16px;
    font-family: Arial;
    margin-right: 15px;
    margin-bottom: 15px;
}

.imgChambre{
    width: 250px;
    height: 150px;
}

.boutonGauche{
    float : left;
}

p.prixTotalChambre{
    position:relative;
    margin-top: -15px;
    color: #000000;
    text-align: center; 
    font-size: 18px;
}

/******************************************
*******************************************
*******************Hotel*******************
*******************************************
******************************************/

.Hotel{
    font-size: 18px;
    color: #1E2421;
    font-family: Arial;
}

.asideHotel
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    width: auto;
    background-color: #E8E8E8;
    box-shadow: 0px 2px 5px #1c1a00;
    border-radius: 5px;
    padding: 10px;
    color: #1E2421;
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 15px;
    margin-bottom: 15px;
}

.imgHotel{
    width: 300px;
    height: 200px;
}

div.bulle {
    position:relative;
}

div.bulle:hover {
    background: none; 
    z-index: 50; 
}

div.bulle span { 
    display: none;
}

div.bulle:hover p.nomHotel { 
    display: none;
}

div.bulle:hover span {
    display: block;
    vertical-align: top;
    position: relative;
    background-color: #1E2421;
    opacity: 0.9;
    box-shadow: 0px 2px 5px #1c1a00;
    border-radius: 5px;
    padding: 5px;
    color: #E8E8E8;
    font-family: Arial;
    font-size: 16px;
    top:6px;
    text-align:center; 
    width:300px;
}

p.nomHotel{
    position:relative;
    margin-top: -15px;
    color: #ffffff;
    text-shadow: 0 1px 5px #000000;
    text-align: center; 
    font-size: 10px;
}

p.sourisHotel{
    position:relative;
    margin-top: -15px;
    color: #000000;
    text-shadow: 0 1px 15px #000000;
    text-align: center; 
    font-size: 10px;
}

/******************************************
*******************************************
**********Gestion (Add, Edit...)***********
*******************************************
******************************************/

.asideGestion
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    width: 56%;
    background-color: #E8E8E8;
    box-shadow: 0px 2px 5px #1c1a00;
    border-radius: 5px;
    padding: 10px;
    color: #1E2421;
    font-family: Arial;
    font-size: 16px;
    margin-left: 22%;
}

